/* CAR NINJA GAME CSS */

/* CSS Flexbox and/or Grid is used for page layout design. */

/* Colors used on the site have appropriate contrast that meet the 
WCAG 2.0 level AA standard. */

/* The game is coded using proper indentation. */


* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

h1 {
    color: rgb(39, 39, 231);
    /* color: rgb(39, 39, 231); */
    text-align: center;
}