/* CAR NINJA GAME CSS */

/* CSS Flexbox and/or Grid is used for page layout design. */

/* Colors used on the site have appropriate contrast that meet the 
WCAG 2.0 level AA standard. */

/* The game is coded using proper indentation. */


* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

header h1 { 
    /* chose header h1 to differentiate between other headers on other screens */
    font-size: 2.5em;
    color: rgb(39, 39, 231);
    /* color: rgb(39, 39, 231); */
    background: linear-gradient(to right, white, blue);
    text-align: center;
}